* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  /* background-color: #282c34; */
  background-color: #f4f4f4;
  color: #333;
  font-family: monospace;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  margin: 0 auto;
  max-width: 68.75rem;;
  padding: 2.5rem;
}
header {
  height: 12.5rem;
}
.App-logo {
  height: 20vmin;
  pointer-events: none;
  /* padding-right: 40%; */
}
/* logo color #FFE300 */
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 1.5rem 0 2rem;
}

.nav-active {
  color: #3fb573;
  font-weight: bold;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 4.4rem;
  text-align: center;
  margin-bottom: 2rem;
}
.form {
  display:grid;
}

.search {
  height: 6.25rem;
}

input[type='text'] {
  display: block;
  padding: 0.625rem;
  font-size: 1.25rem;
  border: 0;
  border-radius: 5px;
  width: 60%;
  margin: auto;
  outline: none;
}

.btn-search {
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 250ms;
  display: inline-block;
  color: #fff;
  background-color: #3fb573;
  font-size: 1em;
  text-align: center;
  padding: 0.625rem 0.938rem;
  border: 0;
  margin: 1rem 0;
}

.btn-search:hover {
  background-color: #4dd689;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.card {
  cursor: pointer;
  background-color: transparent;
  height: 15.625rem;
  perspective: 1000px;
  margin-top: 1.5rem;
  border-radius: 10px;
}

.card h1 {
  font-size: 1.563rem;
  border-bottom: 1px #fff solid;
  padding-bottom: 0.625rem;
  margin-bottom: 0.625rem;
}
.name {
  margin-bottom: 1rem;
  
}

.card img {
  width: 100%;
  height: 15.625rem;
  object-fit: cover;
}
.block {
  display: block;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  margin: 0 auto;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 10px;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 5px;
}
.card-front {
  background-color: #e1dede;
  padding: 1.25rem;
}

.card-back {
  background-color: #333;
  color: white;
  padding: 1.25rem;
  transform: rotateY(180deg);
}

.card li {
  list-style: none;
  padding-bottom: 0.625rem;
}

@media (max-width: 800px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .card img {
    width: 100%;
    height: 15.625rem;
    object-fit: contain;
  }
}
.pagination {
  display: flex;
  gap: 1rem;
}

